*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    height: -webkit-fill-available;
}

body {
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    height: 100vw;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    height: -webkit-fill-available;
}
/* #app{
    width: 1536px;
    height: 2118px;
} */

/* ---- main---- */
.container{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.footer{
    display: none;
}