header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: 65px;
    width: 100%;
    background: rgba(255, 255, 255, 1.0);
    padding-right: 24px;
    padding-left: 20px;
    flex-direction: row;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.2rem;
    margin: 0 2.8rem;
}

.navbar .iconify-logo {
    font-size: 35px;
}


.navbar__search .navbar__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 17px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
}

.navbar__input input {
    position: relative;
    right: 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: transparent;
    padding: 0;
    width: 292px;
    caret-color: rgba(254, 44, 85, 1.0);

}

.navbar__input .navbar__btn {
    border-radius: 2px;
    position: relative;
    top: 3px;
    padding: 11px 16px 11px 12px;
    margin: -16px;
    cursor: pointer;
    border: none;
    background: transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.navbar__input .navbar__btn:hover {
    background-color: rgba(22, 24, 35, 0.03);
}

.navbar__btn .iconify {
    position: relative;
    top: 3px;
    font-size: 21px;
    background: transparent;
}

.navbar__search .navbar__btn::before {
    content: "";
    height: 61%;
    width: 1px;
    position: absolute;
    right: 100%;
    top: 15%;
    background: rgba(22, 24, 35, 0.12);
}

.navbar__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 65px;
}

.navbar__right .navbar__upload--border {
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(22, 24, 35, 0.12);

}

.navbar__upload--border .navbar__upload--btn {
    border-radius: 2px;
    min-width: 110px;
    padding: 0.6em 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar__upload--border .navbar__upload--text {
    margin-left: 0.5rem;
}

.navbar__upload--border .iconify {
    font-size: 15px;
}

.navbar__right .navbar__upload--border:hover {
    background-color: rgba(22, 24, 35, 0.03);
}

.navbar__upload--border .navbar__upload--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161823;
}

.navbar__message--content .navbar__message--menu {
    display: none;
    position: absolute;
    width: 400px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    /* z-index: 1000; */
    opacity: 1;
    right: -2rem;
    padding-left: 16px;
    overflow-y: scroll;
    bottom: -41rem;
}

.navbar__message--content .navbar__message--menu.active {
    display: block;
}

.navbar__message .iconify {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    box-shadow: #161823;
    margin: 0 10px;
    margin-top: 6px;
}
.navbar__message--content .navbar__message--text {
    background-color: rgba(84, 84, 84, 0.92);
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px;
    line-height: 22px;
    position: absolute;
    top: 3rem;
    right: -1.2rem;
    z-index: 1000;
}

.navbar__message--menu .navbar__message--header {
    position: fixed;
    width: 380px;
    padding-top: 24px;
    box-shadow: rgb(0 0 0 / 12%);
    background: rgba(255, 255, 255, 1);
}

.navbar__message--menu.navbar__message--header h4 {
    font-size: 22px;
}

.navbar__message--menu .navbar__message--header ul {
    display: flex;
}

.navbar__message--menu .item,
.navbar__message--menu .item-one {
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 25px;
    margin-bottom: 12px;
    padding: 0 15px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 12px;
    margin-top: 8px;
    margin-right: 8px;
    list-style: none;
    background-color: rgb(248, 247, 247);
    color: rgb(160, 158, 158);
    font-weight: 500;
}

.navbar__message--menu .item:hover {
    background-color: rgb(241, 235, 235);
}

.navbar__message--menu .item-one {
    color: #fff;
    background-color: #000;
}

.navbar__message--notify .item-first>p,
.navbar__message--notify .item-second>p {
    margin-top: 0.8rem;
    font-size: 15px;
    font-weight: 500;
    color: rgb(161, 161, 161);
}

.navbar__message--menu .navbar__message--notify {
    margin-top: 6.2rem;
    overflow-y: scroll;
}

.navbar__message--menu .user-message {
    display: flex;
    margin-top: 0.8rem;
}

.navbar__message--menu .user-message>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-message .img-right {
    width: 42px;
    height: 56px;
    border-radius: 2px;
}

.user-message .user-text {
    padding: 0 0.7rem;
}

.user-message .user-text h5 {
    font-size: 15px;
    font-weight: 550;
}

.user-message .user-text>span,
.user-message .user-text-footer>span {
    font-size: 14.5px;
    color: rgb(176, 174, 174);
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.user-message .user-text-footer>span {
    margin-left: 5px;
}

.user-message .user-text-footer {
    display: flex;
}

.user-text .vertical {
    border-left: 3px solid rgb(238, 236, 236);
    height: 18px;
}

.user-message button {
    padding: 0 1rem;
    height: 2rem;
    background-color: rgb(242, 47, 47);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(249, 84, 84);
    margin-left: 3.2rem;
    margin-top: 1rem;
}

.navbar__message--content .navbar__message--arrow {
    position: absolute;
    bottom: -1.15rem;
    color: rgba(84, 84, 84, 0.92);
    z-index: 1000;
}

.navbar__message--arrow .iconify {
    font-size: 15px;
    position: relative;
    top: 5px;
    left: 5px;
}

.navbar__message {
    position: relative;
}

.navbar__message .navbar__message--top {
    cursor: pointer;
}

.navbar__message--top .navbar__message--number {
    background: rgb(254, 44, 85);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    position: absolute;
    min-width: 20px;
    height: 20px;
    text-align: center;
    bottom: 1.4em;
    left: 1.5em;
}

.navbar__right .navbar__send {
    position: relative;
}

.navbar__right .navbar__send:hover .navbar__send--content {
    display: block;
    cursor: pointer;
}

.navbar__send--content .navbar__send--text {
    background-color: rgba(84, 84, 84, 0.92);
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px;
    position: absolute;
    top: 3rem;
    right: -1.8rem;
    z-index: 1000;
}

.navbar__send--content {
    display: none;
}

.navbar__send--content .navbar__send--arrow {
    position: absolute;
    font-size: xx-small;
    color: rgba(84, 84, 84, 0.92);
    margin-left: 8px;
    margin-top: 4px;
    z-index: 1000;
}

.navbar__send .iconify {
    position: relative;
    cursor: pointer;
    font-size: 1.7em;
}

.navbar__send--top .navbar__send--number {
    background: rgb(254, 44, 85);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    position: absolute;
    min-width: 20px;
    height: 20px;
    text-align: center;
    bottom: 1.4em;
    left: 1em;
}

.menu__info>img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.menu__info .list--menu {
    display: none;
    width: 14rem;
    top: 3.5rem;
    right: 6.5rem;
    position: absolute;
    background-color: rgba(255, 255, 255);
    z-index: 1;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    opacity: 1;
}

.menu__info .list--menu.active {
    display: block;
}

.menu__info .list--menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 37%;
    height: 10px;
}

.menu__info .list--menu ul {
    list-style: none;
    display: inline-block
}

.menu__info .list--menu ul li {
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    padding-left: 12px;
    padding-right: 29px;
    padding-top: 12px;
    cursor: pointer;
}

.list--menu .text-item-footer::before {
    content: "";
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    position: absolute;
    left: 0px;
    right: 8px;
    width: 14.05rem;
    height: 1px;
    bottom: 3.4rem;
}

.list--menu .text-item-footer {
    padding: 10px 0;
}

.menu__info .list--menu ul li:hover {
    background-color: rgba(22, 24, 35, 0.03);

}

.list--menu .iconify {
    font-size: 23px;
}

.list--menu .text-item {
    line-height: 22px;
    font-size: 16px;
    padding: 4px 8px;
    position: relative;
    bottom: 2px;
}

.hidden {
    display: none;
}