/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Nanum+Gothic&family=Nunito+Sans:ital,wght@0,200;0,600;1,300&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300&family=Roboto+Mono:wght@200&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}
body {
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    height: 100vw;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
#app{
    width: 1536px;
    height: 2118px;
}

/* ---- main---- */
.container{
    display: flex;
}
main{
    margin-top: 6rem;
}
