@media (max-width: 46.1875em) {

    #app {
        width: auto;
        height: auto;
    }

    .navbar {
        display: none;
    }

    header {
        display: none;
    }

    .container {
        margin-top: unset;
        width: 616px;
        margin-left: -14.2em;
    }

    .left_content {
        display: none;
    }

    .right_content {
        position: relative;
        bottom: 1.45em;
        left: 12em;
        width: 100%;
        height: 97em;
    }

    .right_content::-webkit-scrollbar {
        display: none;
    }

    .right_content .user {
        height: 73%;
    }

    .user__info-img--big>img {
        position: relative;
        top: 33.5em;
        left: 28em;
        z-index: 1000;
    }

    .user__info-short {
        display: none;
    }

    .content__text {
        position: relative;
        color: #fff;
        top: 50em;
        right: 7rem;
        z-index: 1000;
        width: 60%;
    }

   

    .content__text-name-author {
        display: none;
    }

    .content__text-tag--name a {
        display: none;
    }

    .content__text-tag--three a {
        display: none;
    }

    .content-video {
        left: -7.55em;
        bottom: 6.6em;
        position: relative;
        margin-left: unset;
    }

    .content-video>video {
        width: 100%;
        height: 98%;
        border-radius: unset;
    }

    .content-btn {
        position: relative;
        color: #fff;
        left: -12em;
        top: 33em;

    }

    .content-btn--heart p,
    .content-btn--comments p,
    .content-btn--share p {
        color: #fff;
    }

    .content-arrow {
        display: none;
    }

    .footer {
        position: fixed;
        display: flex;
        width: 36em;
        background: rgb(19, 19, 19);
        height: 7em;
        margin-top: -37em;
        z-index: 1000;
    }

    ul {
        display: flex;
        list-style-type: none;
        font-size: 3em;
        align-items: center;
    }

    li {
        margin: 0 0.7em;
    }

    .user .content::after {
        display: none;
    }
}