@media (max-width: 991.98px) {
    #app {
        width: 670px;
    }

    .navbar__search,
    .navbar__upload--border,
    .menu__info,
    .btn-item .btn__text,
    .accounts p,
    .user .user__name,
    .user__text-one,
    .user__text-two,
    .music p,
    .music__container-tag {
        display: none;
    }

    .left_content {
        display: none;
    }

    .btns {
        margin-left: 0.7rem;
    }

    .right_content {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 43rem;
        position: relative;
        width: 100%;
        left: -0.3rem;
    }

    .btn-follow {
        position: relative;
        right: 13rem;
        top: 0.5rem;
    }

    .user.user--main {
        padding-top: 2rem;
        left: 3.5rem;
    }

    .content-video>video {
        width: 498px;
        height: 437px;
    }

    .right_content .user {
        height: 85%;
    }

    .content-btn {
        position: relative;
        right: 7rem;
        top: 13rem;

    }

    .navbar__right {
        justify-content: space-evenly;
    }

    .right_content::-webkit-scrollbar {
        display: none;
    }

    .user .content::after {
        bottom: 0.5rem;
    }

    .content-video-main .content-video {
        margin-left: -50px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .right_content{
        height: 69rem;
    }
    .content-video>video {
        width: 498px;
        height: 800px;
    }

    .content-btn {
        position: relative;
        top: 28rem;
    }
    .user .content::after {
        bottom: -1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .right_content {
        height: 46rem;
    }

    .content-video>video {
        width: 492px;
        height: 476px;
    }
    .content-btn {
        position: relative;
        top: 12rem;
    }
}